*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'DM Serif Display', serif;
}
p{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  height: 65px;
  width: 85%;
  margin: 1px auto;
}

.hamburger{
  display: inline;
  }
  
  #open{
    display: block;
  }
  #close{
    display: none;
  }
  
  
  #menu{
    display: none;
  }
  #menu2{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2B272F;
    z-index: 101;
  }
  
  #mobile_menu ul::after{
    background: url("images/bg-pattern-mobile-nav.svg") no-repeat center center/cover;
    content: "";
    position: absolute;
    /* top: 433px;
    left: 0; */
    width: 375px;
    height: 218px;
    z-index: 102;
    opacity: 1;
  }
  .nav_links2{
    list-style: none;
  }
  .nav_links2 li{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_links2 li a {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    padding: 3px 30px;
    color: #fafafa;
    margin: 20px auto;
    font-size: 30px;
  }
  .nav_links2 li a:hover{
    font-weight: bold;
  }
  .last2{
    border: 1px solid #fafafa;
    color: #fafafa;
  }
  .last2:hover{
    color: #fafafa;
    background-color: #2B272F;
    font-weight: normal;
  }
  #mobile_menu{
    display: none;
  }
  

.middlecover{
  display: flex;
  flex-direction: column-reverse;
  /* border: 2px solid yellow; */
}
.middle1_enter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D2640;
  width: 100%;
  height: 377px;
  /* border: 2px solid red; */
}
.middle1_enter p::after{
  background: url('images/bg-pattern-intro-right-mobile.svg') no-repeat center center/cover;
  content: "";
  position: absolute;
  /* top: 70px; */
  right: 0;  
  width: 124px;
  height: 330px;
  z-index: 2;
  opacity: 1;
}
.middle1::before{
  background: url("images/bg-pattern-intro-left-mobile.svg") no-repeat center center/cover;
  content: "";
  position: absolute;
  /* top: 433px; */
  left: 0;
  width: 168px;
  height: 165px;
  z-index: 2;
  opacity: 1;
}
.middle1 hr{
  display: none;
}
.middle1 h1{
  font-family: 'DM Serif Display', serif;
  color: #fafafa;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}
.middle1 p{
  font-family: 'Karla', sans-serif;
  color: #fafafa;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.middle1 button{
  border: 1px solid #fafafa;
  padding: 7px 28px;
  margin-top: 30px;
  background-color: #2D2640;
  color: #fafafa;
  outline: none;
}
.middle1 button:hover{
  background-color: #fafafa;
  color: #2D2640;
}
.middle2{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: baseline; */
  width: 100%;
  height: 452px;
  /* border: 2px solid green; */
}
.middle2::after{
  background: url("images/image-intro-mobile.jpg") no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 451px;
  z-index: -2;
  opacity: 1;
}




.heading{
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  /* border: 2px solid black; */
  margin: 200px auto 0 auto;
}
.heading hr{
  margin-bottom: 20px;
  width: 120px;
  height: 2px;
  color: #2B272F;
}
.heading h1{
  font-size: 47px;
  font-weight: normal;
  color: #2B272F;
}

.content{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 770px;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid purple; */
  margin: 0px auto;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.item p{
  font-size: 13px;
  text-align: center;
  color: #837D87;
}
.item h1{
  font-size: 20px;
  margin: 20px auto 15px auto;
  color: #2B272F;
}


.secondbg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 324px;
  margin: 100px auto 180px auto;
  background-color:#2D2640;
  /* border: 2px solid blue; */
}
.secondbg::after{
  background: url('images/bg-pattern-how-we-work-mobile.svg') no-repeat center center/cover;
  content: "";
  position: absolute;
  right: 29px;
  width: 176px;
  height: 317px;
  z-index: 2;
  opacity: 1;
}
#desktop_heading{
  display: none; 
}
#mobile_heading{
  font-size: 26px;
  color: #fafafa;
  text-align: center;
}
.secondbg button{
  border: 1px solid #fafafa;
  padding: 7px 28px;
  margin: 20px auto;
  background-color: #2D2640;
  color: #fafafa;
  outline: none;
  position: relative;
  z-index: 100;
}
.secondbg button:hover{
  background-color: #fafafa;
  color: #2D2640;
}


.secondlast{
  margin-top: 20px;
}


.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  height: 65px;
  width: 85%;
  margin: 0px auto;
  background-color: #fafafa;
}
.container2::before{
  background: url('images/bg-pattern-footer-mobile.svg') no-repeat center center/cover;
  content: "";
  position: absolute;
  top: 2427px;
  width: 374px;
  height: 173px;
  z-index: 2;
}
.container2::after{
  background-color: #fafafa;
  content: "";
  position: absolute;
  top: 2427px;
  width: 100%;
  height: 173px;
  z-index: -1;

}
.connect_links{
  list-style: none;
}
.connect_links li{
  display: inline-block;
}
.connect_links li a {
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  /* padding: 6px 14px; */
  /* color: #837D87; */
}
.connect_links li a svg {
  fill:#837D88;
  margin-left: 10px;
}
.connect_links li a svg:hover{
  fill: black;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 700px;
  margin: 0 auto;
  border-top: 1px solid #837D87;
  background-color: #fafafa;
  /* border: 2px solid brown; */
}
.box{
  width: 85%;
  height: 180px;
  text-align: center;
}
.box p{
  font-weight: bold;
  color: #2B272F;
}
.head{
  margin: 20px 0;
  color: #837D87;
  opacity: 0.5;
  }